<html>
<title>{{ ansible_fqdn }}</title>
<body>
  <h1>{{ ansible_fqdn }}</h1>
  </ul>
    <li><a href="apc.php">apc</a></li>
    <li><a href="http://{{ ansible_fqdn }}:1080">mailcatcher</a></li>
    <li><a href="phpinfo.php">phpinfo()</a></li>
    {% if solr.enable == 'yes' %}
    <li><a href="http://{{ ansible_fqdn }}:8080/manager/html">tomcat</a></li>
    <li><a href="http://{{ ansible_fqdn }}:8080/solr/">solr</a></li>
    {% endif %}
    <li><a href="webgrind">webgrind</a></li>
  </ul>
  <footer>
    <p>built by <a href="https://bitbucket.org/brianfisher/vagrant_pantheon">vagrant_pantheon</a></p>
  </footer>
</body>
</html>
